html {
    background: rgba(0, 0, 0, 0) url("../site_creation_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.header {
    min-height: 45px;
    border: red 1px solid;
    background: rgba(255, 255, 255, 0.8);
}

.title {
    font-size: 30px;
}

.home-link {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid red;
}

.item-selection {
    position: relative;
    display: inline-block;
    border: 1px solid red;
    float: right;
    margin-top: 20px;

}

.save-container {
    float: right;
    position: relative;
    display: inline-block;
    border: 1px solid red;
    margin-right: 10%;
    margin-top: 10px;
}

#website-container {
    border: 1px green solid;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
}

.remove-slideshow {
    display: block;
    float: right;
}

.remove-countdown {
    float: right;
    display: block;
}

.remove-infoBox {
    display: block;
    float: right;
}

.info-container {
    margin: auto;
    border: 1px solid red;
    width: 75%;
    padding-left: 5%;
    margin-bottom: 15px;
}

.info_box_content {}

.count-container {
    border: 1px solid red;
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

.date-selector {
    text-align: center;
}

.slide-container {
    border: 1px red solid;
    min-height: 80px;
    margin-bottom: 15px;
}

.save-session {
    width: 100px;
    height: 25px;
}

.time-left {
    text-align: center;
    font-size: 40px;
    color: blue;
}
