*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* css for inventation homepage */
body{
    background: #2FB8E9;
    font-family: 'Kreon', serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Itim', cursive;
    font-size: 42px;
}


/*///USER LOGIN / SIGNUP PAGE STYLE SHEET///*/

.home-title{
    color: #669b00;
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #faaa4b;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    border-color: #080808;
    border-width: 5px;
    border-style: solid;
}

.link-container{
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.signup-link{
    width: 49%;
    text-align: center;
    color: white;
    display:inline-block;
    font-size: x-large;
}

.login-link{
    width: 49%;
    text-align: center;
    color: white;
    display:inline-block;
    font-size: x-large;
}

.aboutApp{
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: x-large;
}

/* css for inventation signup page */
.signup-title{
    color: #669b00;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #faaa4b;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    border-color: #080808;
    border-width: 5px;
    border-style: solid;

}

.form-descript{
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    font-size: x-large;
    color: white;
}

.profile-create{
    position: relative;
    text-align: center;
}

.username{
    position: relative;
    left: 10px;
}

.password{
    position: relative;
    left: 11px;
}

.firstName{
    position: relative;
    left: 6px;
}

.lastName{
    position: relative;
    left: 6px;
}
.profile-remove{
    margin-left: 30px;
    padding-left: 50px;
    padding-right: 50px;

}

.profile-submit{
    margin-left: 65px;
    padding-left: 50px;
    padding-right: 50px;
}

.toHome{
    display: block;
    margin-top: 15px;
    margin-left: 45px;
    font-size: 22px;
}

/* css for inventation login page */

.login-title{
    color: #669b00;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    text-align: center;
    position: relative;
    background-color: #faaa4b;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    border-color: #080808;
    border-width: 5px;
    border-style: solid;
}

.user-login{
    position: relative;
    text-align: center;
    color: white;
}

.login-btn{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.toSignUp{
    position: relative;
    top: 50px;
    color: white;
}


/*///SITE CREATION PAGE STYLE SHEET///*/

.create {
    background: rgba(0, 0, 0, 0) url("../site_creation_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.create-body {
    background-color: transparent;
}


button {
    background-color: mediumaquamarine;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 5px;
    border: gray 1px solid;
    margin-top: 6px;
}

input {
    background-color: transparent;
    border: gray 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

#message-box {
    font-size: 24px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 1px gray solid
}

.header {
    min-height: 45px;
    /*    border: red 1px solid;*/
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.title {
    font-size: 28px;
    display: inline-block;
}

.home-link {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid red;
}

.item-selection {
    position: relative;
    display: inline-block;
    border: 1px solid red;
    float: right;
    margin-right: 60px;
}

.info-btn {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.countdown-btn {
    padding-right: 10px;
    padding-left: 10px;
}

.slideShow-btn {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 5px;
}

.save-container {
    float: right;
    position: relative;
    display: inline-block;
    border: 1px solid red;
    margin-right: 10%;
    margin-top: 10px;
}

#website-container {
    border: 1px green solid;
    width: 85%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    background: rgba(255, 255, 255, 0.8);
}

.remove-slideshow {
    display: block;
    float: right;
}

.remove-countdown {
    float: right;
    display: block;
}

.remove-infoBox {
    display: block;
    float: right;
}

.info-container {
    margin: auto;
    border: 1px solid red;
    width: 100%;
    padding-left: 5%;
    margin-bottom: 15px;
}

.info-box-content {
    width: 100%;
}

.count-container {
    border: 1px solid red;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.date-selector {
    text-align: center;
}

.countdown-description {
    text-align: center;
    font-size: 15px;
    margin-bottom: 0px;
}

.slide-container {
    border: 1px red solid;
    min-height: 80px;
    margin-bottom: 15px;
}

.save-session {}

.time-left {
    text-align: center;
    font-size: 40px;
    color: blue;
}

/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {

    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
    body {
        color: blue;
    }

    .home-title{
        width: 55%;
        color: blue;
    }

    .signup-title {
        width: 55%;
        color: blue;
    }

    .login-title {
        width: 55%;
        color: blue;
    }

    .item-selection {
        margin-top: 0px;
        margin-right: 0px;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }

    .home-title{
        width: 60%;
        color: red;
    }

    .signup-title {
        width: 60%;
        color: red;
    }

    .login-title {
        width: 60%;
        color: red;
    }

    .toHome {
        display: block;
        margin-left: 65px;
        margin-top: 20px;
        font-size: 22px;
    }

    .item-selection {
        margin-top: 0px;
        margin-right: 0px;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }

    .home-title{
        width: 65%;
        color: green;
    }

    .signup-title {
        width: 65%;
        color: green;
    }

    .login-title {
        width: 65%;
        color: green;
    }

    .toHome {
        display: block;
        font-size: 20px;
        margin-top: 40px;
    }

    .item-selection {
        margin-top: 0px;
        margin-right: 0px;
    }

}

@media only screen and (max-width: 440px) {
    .home-title{
        widows: 70%;
    }

    .signup-title {
        widows: 70%;
    }

    .login-title {
        widows: 70%;
    }

    .profile-submit {
        left: 0px
    }

    .toHome {
        display: block;
        font-size: 20px;
        margin-top: 40px;
    }

    .profile-remove {
        margin-left: 60px;
    }

    h1 {
        font-size: 175%;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }

    h1 {
        font-size: 175%;
    }

    .home-title{
        width: 75%;
        color: purple;
    }

    .signup-title {
        width: 75%;
        color: purple;
    }

    .login-title {
        width: 75%;
        color: purple;
    }

    .profile-remove{
        left: 32px;
    }

    .item-selection {
        margin-top: 0px;
        margin-right: 0px;
    }
}


