/* css for inventation homepage */
body{
    background: #2FB8E9;
}

.home-title{
    color: red;
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
    top: 125px;
    background-color: #faaa4b;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    border-color: #080808;
    border-width: 5px;
    border-style: solid;
}

.signup-link{

    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
    top: 150px;
    left: 675px;
}

.login-link{

    margin: auto;
    width: 50%;
    text-align: center;
    position: relative;
    top: 150px;
    left: 725px;
}

/* css for inventation signup page */
.signup-title{
    color: red;
    position: relative;
    text-align: center;
}

.form-descript{
    position: relative;
    text-align: center;
}

.profile-create{
    position: relative;
    text-align: center;
}

.username{
    position: relative;
    left: 10px;
}

.password{
    position: relative;
    left: 11px;
}

.firstName{
    position: relative;
    left: 6px;
}

.lastName{
    position: relative;
    left: 6px;
}
.profile-remove{
    display: inline-block;
    position: relative;
    left: 50px;
    top: 20px;

}

.profile-submit{
    position: relative;
    display: inline-block;
    top: 20px;
    left: 20px;
}

/* css for inventation login page */

.login-title{
    color: red;
    position: relative;
    text-align: center;
}

.user-login{
    position: relative;
    text-align: center;
}

.login-btn{
    position: relative;
    top: 20px;
    left: 42px;
    padding-left: 50px;
    padding-right: 50px;
}

.toSignUp{
    position: relative;
    top: 50px;
}
